body {
    margin: 0;
    font-family: Arial;
    background: radial-gradient(circle at top, #0f2027, #000);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BOX */
.box {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    width: 320px;
    text-align: center;
    box-shadow: 0 0 40px rgba(0,255,255,0.3);
}

/* TITLE */
h1, h2 {
    color: #00f7ff;
    text-shadow: 0 0 10px #00f7ff;
}

/* INPUT */
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    color: white;
}

/* BUTTON */
button {
    width: 95%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(90deg, #00f7ff, #00aaff);
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    box-shadow: 0 0 20px #00f7ff;
    transform: scale(1.05);
}

/* LINK */
p {
    color: #00f7ff;
    cursor: pointer;
}

/* AVATAR */
img {
    width: 220px;
    border-radius: 20px;
    margin: 15px 0;
    box-shadow: 0 0 25px #00f7ff;
}

/* LEVEL */
.level {
    font-size: 28px;
    color: gold;
}

/* CARD */
.card {
    margin-top: 15px;
    padding: 15px;
    border-radius: 15px;
    background: rgba(255,255,255,0.08);
    border: 1px solid #00f7ff;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0 0 25px #00f7ff;
    transform: scale(1.05);
}

/* LIST */
#list {
    margin-top: 15px;
}